@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0deg, 0%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.94rem;
}

.container {
  display: flex;
  border-radius: 0.6rem;
}
.container .sedan {
  background-color: hsl(31deg, 77%, 52%);
  border-radius: 0.6rem 0 0 0.6rem;
}
.container .sedan .btn {
  color: hsl(31deg, 77%, 52%);
}
.container .suv {
  background-color: hsl(184deg, 100%, 22%);
}
.container .suv .btn {
  color: hsl(184deg, 100%, 22%);
}
.container .luxury {
  background-color: hsl(179deg, 100%, 13%);
  border-radius: 0 0.6rem 0.6rem 0;
}
.container .luxury .btn {
  color: hsl(179deg, 100%, 13%);
}
.container .heading {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 95%);
  margin-top: 2rem;
}
.container .text {
  margin-top: 1.5rem;
  width: 13.2rem;
  color: hsla(0deg, 0%, 100%, 0.75);
  line-height: 1.57rem;
}
.container .btn {
  background-color: hsl(0deg, 0%, 95%);
  text-transform: capitalize;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.94rem;
  margin-top: 5.2rem;
  border: 2px solid transparent;
  border-radius: 2rem;
  padding: 0.8rem 1.8rem 0.8rem 1.8rem;
}
.container .btn:hover {
  background-color: transparent;
  color: hsl(0deg, 0%, 95%);
  border: 2px solid hsl(0deg, 0%, 95%);
  cursor: pointer;
}
.container .sedan,
.container .suv,
.container .luxury {
  padding: 3rem;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 1.5rem;
  width: 100%;
  font-size: 0.69rem;
  color: hsl(184deg, 100%, 22%);
}
footer .attribution a {
  color: hsl(31deg, 77%, 52%);
  text-decoration: none;
}
footer .attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .container .heading {
    font-size: 2.1rem;
  }
  .container .text {
    font-size: 0.8rem;
    line-height: 1.4rem;
    width: 11.3rem;
  }
  .container .btn {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 0.8rem;
  }
  .container .sedan,
  .container .suv,
  .container .luxury {
    padding: 1.6rem;
  }
}
@media (max-width: 750px) {
  .container .heading {
    font-size: 1.9rem;
  }
  .container .text {
    font-size: 0.7rem;
    line-height: 1.2rem;
    width: 7rem;
  }
  .container .btn {
    padding: 0.3rem 1.3rem 0.3rem 1.3rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 500px) {
  body {
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
  .container .sedan {
    border-radius: 0.6rem 0.6rem 0 0;
  }
  .container .luxury {
    border-radius: 0 0 0.6rem 0.6rem;
  }
  .container .heading {
    font-size: 2.5rem;
  }
  .container .text {
    width: 14.1rem;
    font-size: 0.94rem;
    line-height: 1.57rem;
  }
  .container .btn {
    font-size: 0.94rem;
    margin-top: 1.7rem;
    padding: 0.8rem 1.8rem 0.8rem 1.8rem;
  }
  .container .sedan,
  .container .suv,
  .container .luxury {
    padding: 3rem;
  }
  footer {
    position: relative;
    margin-top: 1.5rem;
    font-size: 0.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
